#currentWeather {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.forecast {
    display: flex;
    flex-direction: row;
    border: solid;
    background-color: #0d6efd;
    color: white;
}

img {
    display: none;
    height: 50px;
    width: 50px;
}